// body{
//     text-align:center;
// }
header{
    background:rgb(88, 80, 80);
    margin-right: 0px;
    h1{
         color:white;
         padding-top: 40px;
         margin-top: 0px;

         text-align:center;
         height: 70px;
         
    }


}