 #div
    
    {
        
      
        #historynew{
            position: absolute;  
            top:169px;
            left: 0;
        
           height: 300px;
           
         
           margin: 1%;
           padding-top:20px ;
        
                }
              
     
        
      
        
    } 
    p{
        span{
            margin-bottom: 25px;
        }
        position: absolute;  
        top:5oopx;
        right:400px;
    
       width:150px;
       height:150px;
       overflow-y: scroll;
      
       margin: 1%;
       padding-top:20px ;
    }   
    // span{

    //     position: absolute;  
    //     top:762px;
    //     right:400px;
    
    //    width:150px;
    //    height:150px;
       
      
    //    margin: 1%;
    //    padding-top:20px ;
    // } 
          
        
    

